<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Firman Setiyoko</strong> <br>
    <img src="assets/images/download.png" />
    <p> <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Scan QR Card ?</a></p>
  </div>
</ion-content>
